body {
  background-color: black;
  background-position: center;
  background-size: cover;
}

.checkout-container {
  width: 360px;
  height: 400px;
  margin: 8% auto;
  background-color: rgb(247, 247, 247);
  border-radius: 10px;
  position: relative;
}

h3 {
  text-align: center;
  margin-bottom: 10px;
  color: #fff;
}

.checkout-container form {
  width: 280px;
  position: absolute;
  top: 100px;
  left: 40px;
}

form input {
  width: 100%;
  padding: 10px 5px;
  margin: 5px 0;
  border: 0;
  border-bottom: none;
  background-size: transparent;
}

::placeholder {
  color: #777;
}

.btn-box {
  width: 100%;
  margin-bottom: 30px auto;
  text-align: center;
}

form button {
  width: 210px;
  height: 35px;
  margin: 0 10px;
  background: linear-gradie (to right, #ff105f #ffad06);
  border-radius: 30px;
  border: 0;
  outline: none;
  color: rgb(7, 28, 145);
  cursor: pointer;
}
