body {
  font-family: montserrat;
}
.container .home {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
.container {
  background: blue;
  height: 50px;
}

.container .logo {
  padding: 100px;
  position: absolute;
  top: 100px;
}
