nav {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  font-family: "montserrat" sans-serif;
  padding: 0 5%;
  height: 100px;
  background-color: rgb(83, 83, 184);
}

nav.logo {
  float: left;
  width: 40px;
  height: 100px;
  display: flex;
  align-items: center;
  font-size: 24px;
  color: white;
}

nav.link {
  float: right;
}
