body {
}
nav {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  font-family: "montserrat" sans-serif;
  height: 100px;
  background-color: rgb(83, 83, 184);
}

nav.logo {
  float: left;
}

nav.link {
  float: right;
}
